
<ion-content [fullscreen]="true">
  <div id="contenedor">
    
    <div id="info-viaje">
      
      <div class="distancia">
        <ion-icon name="analytics"></ion-icon>
        {{distancia}}
      </div>
      <div class="tiempo">
        <ion-icon name="time"></ion-icon>
        {{duracion}}
      </div>
      <div class="boton-retroceso">
        <ion-back-button defaultHref="/"></ion-back-button>

      </div>
      
    </div> >
    

    <div #map id="map"></div> >

  

  </div>

</ion-content>