/* Estilo general para el contenido */
ion-content {
  --background: #eaf4ff; /* Fondo claro para el contenido */
  padding: 20px; /* Espaciado alrededor del contenido */
}

/* Estilo para el encabezado del ion-toolbar */
ion-toolbar {
  --background: #003366; /* Azul oscuro para el encabezado */
}

/* Estilo para el título dentro del ion-toolbar */
ion-title {
  color: #ffffff; /* Blanco para el texto del título */
}

/* Estilo para los elementos del formulario */
ion-item {
  margin-bottom: 15px; /* Espaciado inferior entre los elementos */
}

/* Estilo para los campos de entrada */
ion-input {
  --padding-start: 10px; /* Relleno en el inicio del campo de entrada */
  --padding-end: 10px; /* Relleno en el final del campo de entrada */
  --background: #ffffff; /* Fondo blanco para los campos de entrada */
  --border-radius: 8px; /* Bordes redondeados en los campos de entrada */
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera para los campos de entrada */
  color: #000000; /* Color del texto en negro */
}

/* Estilo para los campos de entrada (ion-input) cuando tienen un placeholder */
ion-input::placeholder {
  color: #999999; /* Color gris para el texto del placeholder */
}

/* Estilo para el botón de agregar viaje */
ion-button {
  --background: #004080; /* Fondo azul más oscuro para el botón */
  --color: #000000; /* Texto negro en el botón */
  --border-radius: 20px; /* Bordes redondeados en el botón */
  --margin-top: 20px; /* Margen superior para separar el botón del resto del contenido */
  --padding-top: 14px; /* Relleno superior en el botón */
  --padding-bottom: 14px; /* Relleno inferior en el botón */
  --padding-start: 16px; /* Relleno a la izquierda del botón */
  --padding-end: 16px; /* Relleno a la derecha del botón */
}

/* Estilo para el botón cuando está en estado de enfoque */
ion-button:focus {
  --background: #003366; /* Azul aún más oscuro al enfocar el botón */
}
