<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Viaje</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-list>
      <!-- Modelo del Vehículo -->
      <ion-item>
        <ion-input 
          type="text" 
          label="Modelo vehiculo" 
          labelPlacement="floating" 
          fill="outline" 
          [clearInput]="true" 
          placeholder="Ingresa el modelo del vehículo">
        </ion-input>
      </ion-item>

      <!-- Patente -->
      <ion-item>
        <ion-input 
          type="text" 
          label="Patente" 
          labelPlacement="floating" 
          fill="outline" 
          [clearInput]="true" 
          placeholder="Ingresa la patente">
        </ion-input>
      </ion-item>

      <!-- Nombre del Conductor -->
      <ion-item>
        <ion-input 
          type="text" 
          label="Conductor" 
          labelPlacement="floating" 
          fill="outline" 
          [clearInput]="true" 
          placeholder="Ingresa el nombre del conductor">
        </ion-input>
      </ion-item>

      <!-- Lugar de Partida -->
      <ion-item>
        <ion-input 
          type="text" 
          label="Punto de partida" 
          labelPlacement="floating" 
          fill="outline" 
          [clearInput]="true" 
          placeholder="Ingresa el punto de partida">
        </ion-input>
      </ion-item>

      <!-- Lugar de Destino -->
      <ion-item>
        <ion-input 
          type="text" 
          label="Destino" 
          labelPlacement="floating" 
          fill="outline" 
          [clearInput]="true" 
          placeholder="Ingresa el destino">
        </ion-input>
      </ion-item>

      <!-- Cantidad de Asientos -->
      <ion-item>
        <ion-input 
          type="number" 
          label="Numero de Asientos" 
          labelPlacement="floating" 
          fill="outline" 
          [clearInput]="true" 
          placeholder="Ingresa el número de asientos">
        </ion-input>
      </ion-item>

      <!-- Precio -->
      <ion-item>
        <ion-input 
          type="number" 
          label="Precio" 
          labelPlacement="floating" 
          fill="outline" 
          [clearInput]="true" 
          placeholder="Ingresa el precio">
        </ion-input>
      </ion-item>
    </ion-list>

    <!-- Botón Agregar -->
    <ion-button expand="full" color="primary">Agregar Viaje</ion-button>
  </form>
</ion-content>

