<ion-header>
  <ion-toolbar>
    <ion-title>Registrar viaje</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="registrarViaje()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre del Conductor</ion-label>
        <ion-input 
          type="text" 
          [(ngModel)]="viaje.nombre"
          name="nombre"
          readonly>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Patente</ion-label>
        <ion-input 
          type="text" 
          [(ngModel)]="viaje.patente"
          name="patente"
          readonly>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Marca</ion-label>
        <ion-input 
          type="text" 
          [(ngModel)]="viaje.marca"
          name="marca"
          readonly>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Modelo</ion-label>
        <ion-input 
          type="text" 
          [(ngModel)]="viaje.modelo"
          name="modelo"
          readonly>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input 
          type="text" 
          [(ngModel)]="viaje.telefono"
          name="telefono"
          readonly>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Lugar de Salida</ion-label>
        <ion-input 
          type="text" 
          [(ngModel)]="viaje.salida"
          name="salida"
          placeholder="Ingresa el lugar de salida">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Destino</ion-label>
        <ion-input 
          type="text" 
          [(ngModel)]="viaje.destino"
          name="destino"
          placeholder="Ingresa el destino">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Hora de Salida</ion-label>
        <ion-input 
          type="text" 
          [(ngModel)]="viaje.horasalida"
          name="horasalida"
          placeholder="Ingresa la hora de salida">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cantidad de Asientos</ion-label>
        <ion-input 
          type="number" 
          [(ngModel)]="viaje.asiento"
          name="asiento"
          placeholder="Ingresa la cantidad de asientos"
          readonly>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Precio</ion-label>
        <ion-input 
          type="number" 
          [(ngModel)]="viaje.precio"
          name="precio"
          placeholder="Ingresa el precio">
        </ion-input>
      </ion-item>

      <ion-button expand="full" (click)="registrarViaje()" [disabled]="!autoRegistrado">Agregar Viaje</ion-button>
    </ion-list>
  </form>
</ion-content>
