<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Conductor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="registrarConductor()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre del Conductor</ion-label>
        <ion-input 
          type="text" 
          [(ngModel)]="conductor.nombre"
          name="nombre"
          placeholder="Ingresa el nombre del conductor">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Patente</ion-label>
        <ion-input 
          type="text" 
          [(ngModel)]="conductor.patente"
          name="patente"
          placeholder="Ingresa la patente">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Marca</ion-label>
        <ion-input 
          type="text" 
          [(ngModel)]="conductor.marca"
          name="marca"
          placeholder="Ingresa la marca del vehículo">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Modelo</ion-label>
        <ion-input 
          type="text" 
          [(ngModel)]="conductor.modelo"
          name="modelo"
          placeholder="Ingresa el modelo del vehículo">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input 
          type="text" 
          [(ngModel)]="conductor.telefono"
          name="telefono"
          placeholder="Ingresa el teléfono">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Lugar de Salida</ion-label>
        <ion-input 
          type="text" 
          [(ngModel)]="conductor.salida"
          name="salida"
          placeholder="Ingresa el lugar de salida">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Destino</ion-label>
        <ion-input 
          type="text" 
          [(ngModel)]="conductor.destino"
          name="destino"
          placeholder="Ingresa el destino">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Hora de Salida</ion-label>
        <ion-input 
          type="text" 
          [(ngModel)]="conductor.horasalida"
          name="horasalida"
          placeholder="Ingresa la hora de salida">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cantidad de Asientos</ion-label>
        <ion-input 
          type="number" 
          [(ngModel)]="conductor.asiento"
          name="asiento"
          placeholder="Ingresa la cantidad de asientos">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Precio</ion-label>
        <ion-input 
          type="number" 
          [(ngModel)]="conductor.precio"
          name="precio"
          placeholder="Ingresa el precio">
        </ion-input>
      </ion-item>

      <ion-button expand="full" type="submit">Registrar</ion-button>
    </ion-list>
  </form>
</ion-content>
