/* Estilo general para el contenido */
ion-back-button{
  color: #ffffff;
}

ion-content {
  --background: #eaf4ff; /* Fondo claro para el contenido */
  padding: 20px; /* Espaciado alrededor del contenido */
}

/* Estilo para el encabezado del ion-toolbar */
ion-toolbar {
  --background: var(--fondo); /* Azul oscuro para el encabezado */
}

/* Estilo para el título dentro del ion-toolbar */
ion-title {
  color: #ffffff; /* Blanco para el texto del título */
}

/* Estilo para los elementos del formulario */
ion-item {
  margin-bottom: 15px; /* Espaciado inferior entre los elementos */
}

/* Estilo para los campos de entrada */
ion-input {
  margin-top: 10px;
}


ion-button::part(native) {
  border-radius: 2rem !important;
}
