ion-header {
  --background: #3880ff; /* Color de fondo del header */
  --color: white; /* Color del texto del header */
}

ion-toolbar {
  --padding-start: 16px;
  --padding-end: 16px;
}

ion-title {
  font-size: 1.5rem;
  font-weight: bold;
}

ion-content {
  padding: 16px;
}

form {
  display: flex;
  flex-direction: column;
}

ion-item {
  margin-bottom: 16px;
}

ion-label {
  font-weight: bold;
}

ion-input {
  --padding-start: 12px;
}

ion-select {
  --padding-start: 12px;
}

ion-button {
  margin-top: 24px;
  --background: #3880ff;
  --color: white;
  --border-radius: 8px;
  --padding-top: 12px;
  --padding-bottom: 12px;
}
