/* Estilo general para el contenido */
ion-content {
  --background: #f0f8ff; /* Fondo claro para el contenido */
}

/* Estilo para el encabezado del ion-toolbar */
ion-toolbar {
  --background: var(--fondo); 
}

/* Estilo para el título dentro del ion-toolbar */
ion-title {
  color: #ffffff; /* Blanco para el texto del título */
}

/* Estilo para las tarjetas de viaje */
ion-card {
  margin: 10px; /* Espaciado entre tarjetas */
  border-radius: 10px; /* Bordes redondeados para las tarjetas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera para las tarjetas */
}

/* Estilo para el encabezado de la tarjeta */
ion-card-header {
  --background: var(--fondo-cards); /* Fondo azul claro para el encabezado de la tarjeta */
}

/* Estilo para el contenido de la tarjeta */
ion-card-content {
  color: #000; /* Texto en azul oscuro */
  margin-top: 10px;
}

ion-list{
  background-color: var(--fondo);
}

/* Estilo para los botones */
ion-button {
  height: 2.5rem; /* Asegura que los botones tengan suficiente altura para lucir redondeados */
  margin: 10px 0; /* Espaciado vertical en los botones */
}

ion-button::part(native) {
  border-radius: 1.5rem !important;
}



ion-back-button {
  color: #ffffff;
}

ion-card-title {
  color: #ffffff;
}

ion-card-subtitle {
  color: #ffffff;
}
