<ion-header>
  <ion-toolbar>
    <ion-title>Viajes Disponibles</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Ejemplo de un viaje -->
    <ion-card *ngFor="let trip of trips">
      <ion-card-header>
        <ion-card-title>{{ trip.model }} - {{ trip.licensePlate }}</ion-card-title>
        <ion-card-subtitle>Conductor: {{ trip.conductor }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p><strong>Salida:</strong> {{ trip.salida }}</p>
        <p><strong>Destino:</strong> {{ trip.destino }}</p>
        <p><strong>Asientos disponibles:</strong> {{ trip.asientos }}</p>
        <p><strong>Hora de Salida:</strong> {{ trip.salida }}</p>
        <p><strong>Precio:</strong> ${{ trip.precio }}</p>
      </ion-card-content>

      <ion-button expand="full" >Reservar</ion-button>
    </ion-card>
  </ion-list>
</ion-content>