header {
  display: flex;
  align-items: flex-end; /* Distribuye los íconos equitativamente */
  padding: 20px; /* Añade un poco de espacio alrededor de los íconos */
  transition: background-color .5s ease;
}

main-content {
  background-color:var(--fondo) ;
}

ion-toolbar {
  background-color: var(--fondo);

}

.contenidoPerfil {
 display: flex;
 justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}
.labelPerfil{
  margin-left: 10px;
  font-size: 1.2rem;
}

.contenidoCambioColor{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}
.labelCambiarTema{
  margin-left: 10px;
  font-size: 1.2rem;
}

.contenidoCerrarSesion{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 10px;

}
.labelCerrarSesion{
  margin-left: 10px;
  font-size: 1.2rem;
}
ion-icon {
  color: var(--icono);
  transition: color .5s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#tema,#perfil,#cerrar {
  font-size: 2.5rem; 
  color: var(--icono-tema);
  border-radius: 9px;
}
#logo {
  font-size: 12rem; 
  color: var(--icono);}


.container {
  background-color: var(--fondo);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  min-height: 100vh;
  transition: background-color .5s ease;
}

ion-button {
  width: 90%;
  height: 3rem; /* Asegura que ambos botones tengan la misma altura */
  font-size: 1.1rem;
}

ion-button::part(native) {
  border-radius: 2rem !important;
}

h1 {
  color: var(--textos);
}

ion-back-button {
  position: absolute;
  left: 20px;
  top: 20px;
  color: var(--icono-tema); /* Asegúrate de que el color sea visible */
}

header{
  background-color: var(--fondo);
}
